h1{
   text-align: center; 
}

ul{
   list-style: none;
}

body{
   padding: 5px;
}

.allChildren {
   margin-left: 130px;


}

a{
   color:cornsilk !important;
   font-weight: bold;
}

a:hover{
  background-color: none !important;
  color:white !important;

}