//For width and height
@mixin width-height($width, $height) {
    width: $width;
    height: $height;
    
}

//To give padding
@mixin padding($r,$l,$t,$b) {
    padding-right: $r;
    padding-left: $l;
    padding-top: $t;
    padding-bottom: $b;
    
}

//to give padding in all directions without passing 4 params
@mixin allSidePadding($val) {
    @include padding($val,$val ,$val ,$val);
}
