h1 {
  text-align: center; }

ul {
  list-style: none; }

body {
  padding: 5px; }

.navBar {
  list-style: none;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  background-color: wheat; }
