.navBar {
    list-style: none;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    background-color: wheat;
}

.courseFinalGrade {
    display: grid;
    width: 650px;
    background-color: whitesmoke;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
}

.chart {
    width: 600px;
}