.navBar {
    list-style: none;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    background-color: wheat;
}

.courseGradeCard {
    display: grid;
    width: 500px;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px;
    box-shadow: 3px 3px lavenderblush;
    cursor: pointer;
    border-radius: 8px;
}

.courseHeading {
    background-color: lightseagreen;
    padding: 5px;
    font-size: large;
    font-family: sans-serif;
    color: aliceblue;
    font-weight: bolder;
}

.finalGrade{
    width: 50px;
    font-size: xxx-large;
    margin-left: 175px;
    font-weight: bold;
    font-family: sans-serif;
    color: darkgoldenrod;
}

.viewCourseScores {
    width: 100px;
    margin-left: 175px;
}

.chart {
    width: 600px;
}