.navBar {
    list-style: none;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    background-color: wheat;
}

.courseGradeCard {
    display: grid;
    width: 500px;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px;
    cursor: pointer;
  //  border-radius: 25px;
}

.courseHeading {
    background-color: grey;
    padding: 5px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bolder;
    //border-radius: 25px;
}

.finalGrade{
    width: 50px;
    font-size: xxx-large;
    margin-left: 175px;
    font-weight: bold;
    font-family: sans-serif;
    color: darkgoldenrod;
}

.viewCourseScores {
    width: 100px;
    margin-left: 175px;
}

.chart {
    width: 600px;
}

.assignTable{
    margin-left: 140px;
}

.analytics{
    float: right;
}